<div class="bg-accent p-3 rounded">
    <div class=" d-flex">
        <h6 class="me-3">{{server.name}}</h6>
        <div class="badge bg-muted rounded text-dark">
            {% if server.is_secure %}
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-lock-fill"
                 viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
            <span>Private</span>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-unlock-fill"
                 viewBox="0 0 16 16">
                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
            </svg>
            <span>Public</span>
            {% endif %}
        </div>
    </div>
    <p>{{server.access}}</p>
    <a href="{% url 'main_view_files' %}" class="btn bg-muted">View shared files</a>
</div>