{% extends 'main/base.html' %}
{% load static %}
{% block base %}
<nav class="bg-dark">
    <span class="text-muted" style="font-weight:600;">Stream Server</span>
    <ul>
        <li><a href="{% url 'main_dashboard' %}">Dashboard</a></li>
        <!--        <li><a href="">Users</a></li>-->
        <!--        <li><a href="">Config</a></li>-->
    </ul>
    <img class="me-3" onclick="console.log('messages');" src="{% static 'main/assets/svg/chat-fill.svg' %}">
    <span id="nav-name" class="name">{{request.user.first_name}}</span>
    <a class="btn bg-accent" href="{% url 'main_logout' %}">Logout</a>
</nav>

{% if messages %}
<div class="alerts">
    {% for message in messages %}
    <div class="alert bg-accent mt-3 me-3 rounded p-3 {{ message.tags }}">
        <span class="me-3">{{ message }}</span>
        <span class="closebtn ms-auto" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block content %} {% endblock content %}

{% endblock base %}