{% extends 'main/base.html' %}
{% block base %}
<nav class="bg-dark">
    <span class="text-muted" style="font-weight:600;">Stream Server</span>
    <ul>
        <li><a href="{% url 'main_dashboard' %}">Dashboard</a></li>
        <li><a href="">Users</a></li>
        <li><a href="">Config</a></li>
    </ul>
    <span class="name">{{request.user.first_name}}</span>
    <a class="btn bg-accent" href="{% url 'main_logout' %}">Logout</a>
</nav>

{% block content %} {% endblock content %}

{% endblock base %}