{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<div class="container pt-5">
    <h4 class="mb-4 text-center text-muted">Users connected</h4>
    <div>
        {% for user in users %}
        <div class="d-flex bg-lighter mb-2 rounded">
            <div class="py-3 ms-3 me-auto">
                <div class="d-flex">
                    <h6 class="text-muted my-auto me-3">{{user.user.first_name}}</h6>
                    {% if user.is_admin %}
                    <small class="rounded py-1 mb-auto px-2 bg-muted">Admin</small>
                    {% endif %}
                </div>
                <div class="text-muted mt-2">
                    <small><strong>Joined on -</strong> {{user.joined_on}}</small>
                    <br>
                    <small><strong>Last login -</strong>{{user.latest_access}}</small>
                </div>
            </div>
            {% if not user.is_admin %}
            <a class="my-auto me-3" href="#">
                <div>
                    <img class="rounded" style="background: #755b5b3b;height: 100%;padding: 1rem;"
                         src="{% static 'main/assets/svg/trash-fill-danger.svg' %}" alt="">
                </div>
            </a>
            {% endif %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}